body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(68, 168, 135);
}

h1 {
    margin: 50px;
}

.btns {
    display: flex;
    gap: 140px;
    justify-content: center;
    margin: 100px;
}

img {
    width: auto;
    height: 200px;
}

.btns>button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 50px;
    color: rgb(216, 95, 15);
    font-size: x-large;
    font-weight: bold;
}

#result {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#result>button {
    padding: 10px 30px;
}



